/**
 * 模块名称：文本加厚
 * 创建时间：2018-1-23 10:56:30
 * 说明：正常、加厚、加厚力度
 */

@import '../basic/_mixins.config';
.font-weight {
  &-normal {
    font-weight: normal !important;
  }
  &-bold {
    font-weight: bold !important;
  }
  &-500 {
    font-weight: 500 !important;
  }
  &-700 {
    font-weight: 700 !important;
  }
}