/**
 * 模块名称：文本字号
 * 创建时间：2018-1-22 16:42:14
 * 说明：文本大小
 */
@import '../basic/_mixins.config';

.font-size-0 {
  font-size: 0 !important;
}

@for $i from $font-size-begin through $font-size-end {
  .font-size {
    &-#{$font-size-default+$i} {
      font-size: units($font-size-default+$i) !important; /*no*/
    }
  }
}

.line-height {
  &-0 {
    line-height: 0 !important;
  }

  &-dot-8 {
    line-height: .8 !important;
  }

  &-dot-9 {
    line-height: .9 !important;
  }

  &-1 {
    line-height: 1 !important;
  }

  &-12 {
    line-height: 1.2 !important;
  }

  &-15 {
    line-height: 1.5 !important;
  }

  &-17 {
    line-height: 1.7 !important;
  }

  &-2 {
    line-height: 2 !important;
  }
}
