//模块名称：标记
//创建时间：2018-1-29 18:07:25
//说明：徽章，标记，badge+背景颜色配置
@import '../../basic/_mixins.config';

.badge {
  font-size: units(12);
  padding: units(2) units(5);
  color: #fff;
  border-radius: units(2);
  display: inline-block;
  line-height: 1;
  + .badge {
    margin-left: units(5);
  }
}