@import "../../basic/mixins.config";

.card {
  display: flex;
  align-items: flex-start;
  padding: units(10);
  +.card{
    border-top: 1px solid #dddddd;
  }
  &-media {
    border-radius: units(10) 0 0 units(10);
    font-size: 0;
    .card-image {
      width: units(64);
      display: block;
    }
  }
  &-content {
    padding-left: units(10);
    padding-right: units(10);
    border-radius: 0 units(10) units(10) 0;
    line-height: 1;
    flex: 1;
  }
  &-header {
    font-size: units(14);
  }
  &-body {
    padding-top: units(10);
    padding-bottom: units(10);
    font-size: units(12);
  }
  &-footer {
    font-size: units(12);
  }
}
