/**
自定义checkbox
使用方法：
<label for="" class="vk-checkbox size-lg" bindtap="testCheckbox" data-value="2">
   <view class="item-checkbox"></view>
</label>
尺寸：
在“vk-checkbox”中追加class：size-md 或 size-lg
 */
@import '../../basic/mixins.config';

.vk-checkbox {
  font-size: units(12);
  display: flex;
  align-items: center;
  &.size-md {
    .item-checkbox {
      width: units(15);
      height: units(15);
      &::before {
        left: units(1);
        top: units(1);
        width: units(10);
        height: units(5);
      }
    }
  }
  &.size-lg {
    .item-checkbox {
      width: units(20);
      height: units(20);
      &::before {
        left: units(1);
        top: units(1);
        width: units(14);
        height: units(7);
      }
    }
  }
  > .item-checkbox {
    margin-right: units(5);
    display: block;
    width: units(10);
    height: units(10);
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: units(0);
      top: units(0.5);
      width: units(5);
      height: units(3);
      border-left: units(2) solid $primary;
      border-bottom: units(2) solid $primary;
      transition: all .2s;
      opacity: 0;
    }
  }
  &.active {
    .item-checkbox {
      &::before {
        opacity: 1;
        transform: rotate(-50deg);
      }
    }
  }
}