//底部栏
@import '../../basic/_mixins.config';
.navbar {
  width: 100%;
  height: auto;
  z-index: 20;
  &-fixed {
    position: fixed;
    left: 0;
    &-bottom {
      bottom: 0;
    }
    &-top {
      top: 0;
    }
  }
}