/**
 * 模块名称：布局
 * 创建时间：2018-5-18 12:09:22
 * 说明：全局布局
 */
@import '../basic/_mixins.config';

.main {
  display: flex;
  flex-direction: column;
  min-height: $main-min-height;
  &.main {
    &-fixed {
      height: $main-fixed-height;
      .main {
        &-body {
          overflow-y: auto;
          flex: 1;
        }
        &-footer {
          height: units(60);
        }
      }
    }
  }
  &-body {
    flex: $main-body-flex;
  }
  &-footer {
  }
}