@import "../basic/mixins.config";

$steps-line-unactive: $grey300;
$step-point-size: 20;
.ju-steps {
  display: flex;

  .step-item {
    position: relative;
    flex: 2;

    .step-num {
      position: relative;
      z-index: 1;
    }

    &.active {
      color: $uni-color-primary;

      &::before {
        background-color: $uni-color-primary;
      }

      .step-num {
        color: #fff;
        background-color: $uni-color-primary;
      }
    }

    &.done {
      color: $uni-color-primary;

      &::before {
        background-color: $uni-color-primary;
      }

      .step-num {
        color: #fff;
        background-color: $uni-color-primary;
      }
    }

    &::before {
      content: '';
      display: block;
      background-color: $steps-line-unactive;
      height: units($step-point-size/5);
      width: 100%;
      position: absolute;
      top: units(($step-point-size/2 )- ($step-point-size/5/2));

    }

    &::after {
      display: none;
    }

    &:first-child {
      flex: 1;

      &::before {
        left: 0;
      }
    }

    + .step-item {
      text-align: center;
    }

    &:last-child {
      flex: 1;
      text-align: right;

      &::before {
        right: 0;
      }
    }

    .step-num {
      width: units($step-point-size);
      height: units($step-point-size);
      background-color: $steps-line-unactive;
      display: inline-block;
      text-align: center;
      border-radius: 100%;
      line-height: units($step-point-size);
    }
  }

  &.steps-vertical {
    display: block;
    width: 100%;

    &.vertical-md {
      .step-item {
        min-height: units(100);
      }
    }

    &.vertical-lg {
      .step-item {
        min-height: units(150);
      }
    }

    .step-item {
      display: flex;
      align-items: start;
      min-height: units(50);

      &::before {
        display: none;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: $steps-line-unactive;
        width: units(1);
        height: 100%;
        left: units($step-point-size/2) !important;
      }

      &:last-child {
        &::before {
          display: none;
        }
      }

      .step-content {
        padding: 0 units(10);
        flex: 1;
        width: 0;
        text-align: left;
      }
    }
  }

}
