/*
*  作者：vikingleo | http:
*  创建时间：2017-3-13 11:31:23
*  描述：样式基本配置
*/
$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$deepPurple: #673ab7;
$indigo: #3f51b5;
$blue: #2196f3;
$lightBlue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$lightGreen: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$deepOrange: #ff5722;
$brown: #795548;
$blueGrey: #607d8b;
$grey50: #fafafa;
$grey100: #f1f4f7;
$grey200: #eeeeee;
$grey300: #e0e0e0;
$grey400: #bdbdbd;
$grey: #9e9e9e;
$black: #000000;
$white: #ffffff;
$transparent: rgba(0, 0, 0, 0);
$fullBlack: rgba(0, 0, 0, 1);
$darkBlack: rgba(0, 0, 0, 0.87);
$lightBlack: rgba(0, 0, 0, 0.54);
$minBlack: rgba(0, 0, 0, 0.26);
$faintBlack: rgba(0, 0, 0, 0.12);
$fullWhite: rgba(255, 255, 255, 1);
$darkWhite: rgba(255, 255, 255, 0.87);
$lightWhite: rgba(255, 255, 255, 0.54);
$base: #333;
$default: #778A98;
//$default: #778A98;
$primary: #017be7;
$secondary: #39baff;
$prompt: #F78F09;
$danger: #ff6155;
$success: $green;
$warning: #ffd700;
$info: #ACE3FC;
$gold: #D6BB9F;
/*颜色名*/
$colorsName: red,
pink,
purple,
deepPurple,
indigo,
blue,
lightBlue,
cyan,
teal,
green,
lightGreen,
lime,
yellow,
amber,
orange,
deepOrange,
brown,
blueGrey,
grey50,
grey100,
grey200,
grey300,
grey400,
grey,
black,
white,
transparent,
fullBlack,
darkBlack,
lightBlack,
minBlack,
faintBlack,
fullWhite,
darkWhite,
lightWhite,
base,
default,
primary,
secondary,
prompt,
danger,
success,
warning,
info,
gold;
$colorsMap: (
        red:$red,
        pink:$pink,
        purple:$purple,
        deepPurple:$deepPurple,
        indigo:$indigo,
        blue:$blue,
        lightBlue:$lightBlue,
        cyan:$cyan,
        teal:$teal,
        green:$green,
        lightGreen:$lightGreen,
        lime:$lime,
        yellow:$yellow,
        amber:$amber,
        orange:$orange,
        deepOrange:$deepOrange,
        brown:$brown,
        blueGrey:$blueGrey,
        grey50:$grey50,
        grey100:$grey100,
        grey200:$grey200,
        grey300:$grey300,
        grey400:$grey400,
        grey:$grey,
        black:$black,
        white:$white,
        transparent:$transparent,
        fullBlack:$fullBlack,
        darkBlack:$darkBlack,
        lightBlack:$lightBlack,
        minBlack:$minBlack,
        faintBlack:$faintBlack,
        fullWhite:$fullWhite,
        darkWhite:$darkWhite,
        lightWhite:$lightWhite,
        base:$base,
        default:$default,
        primary:$primary,
        secondary:$secondary,
        prompt:$prompt,
        danger:$danger,
        success:$success,
        warning:$warning,
        info:$info,
        gold:$gold
);
