/**
 * 模块名称：尺寸
 * 创建时间：2018-1-5 11:15:58
 * 说明：定义各种宽度模式
 */
@import '_mixins.config';

.full {
  height: 100% !important;
  width: 100% !important;

  &-screen {
    width: 100vw !important;
    height: 100vh !important;

    &-height {
      height: 100vh !important;

      &-min {
        min-height: 100vh !important;
      }
    }

    &-width {
      width: 100vw !important;

      &-min {
        min-width: 100vh !important;
      }
    }
  }

  &-height {
    height: 100% !important;

    &-max {
      max-height: 100% !important;
    }

    &-min {
      min-height: 100% !important;
    }
  }

   &-width {
    width: 100% !important;

    &-max {
      max-width: 100% !important;
    }

    &-min {
      min-width: 100% !important;
    }
  }
}

.auto {
  &-width {
    width: unset !important;
    min-width: unset !important;
  }

  &-height {
    height: unset !important;
    min-height: unset !important;
  }
}

//元素大小，适用于头像
.tag-size {
  &-0 {
    width: 0 !important;
  }

  &-18 {
    width: units(18);
  }

  &-36 {
    width: units(36);
  }

  &-48 {
    width: units(48);
  }

  &-64 {
    width: units(64);
  }

  &-96 {
    width: units(96);
  }

  &-128 {
    width: units(128);
  }
}
