// 初始化
//PC或ipad下，使用固定的大小
@import '_mixins.config';

@if $init-config == wechat {
  // 微信的标签初始化
  view,
  scroll-view,
  navigator,
  image,
  button,
  input,
  textarea {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
  }
} @else {
  // 普通网页样式的初始化

  html,
  body {
    height: 100%;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
  }

  p{
    line-height: 1.5;
    margin: 0;
    +p{
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

}
