/*
    作者：vikingleo | http://www.vkleo.com | QQ:250511200
    创建时间：2017-3-13 11:31:53
    描述：外边距公共样式
*/
@import '_mixins.config';

$unit-interval: 5;
@for $i from $margin-begin through $margin-end {
  .m {
    &-#{$i*5} {
      margin: units($i*$unit-interval) !important;

      &-reverse {
        margin: units(-$i*$unit-interval) !important;
      }
    }

    &x-center {
      margin: {
        left: auto;
        right: auto;
      }
    }

    &x-#{$i*5} {
      margin-left: units($i*$unit-interval) !important;
      margin-right: units($i*$unit-interval) !important;

      &-reverse {
        margin-left: units(-$i*$unit-interval) !important;
        margin-right: units(-$i*$unit-interval) !important;
      }
    }

    &y-#{$i*5} {
      margin-top: units($i*$unit-interval) !important;
      margin-bottom: units($i*$unit-interval) !important;

      &-reverse {
        margin-top: units(-$i*$unit-interval) !important;
        margin-bottom: units(-$i*$unit-interval) !important;
      }
    }

    &t-#{$i*5} {
      margin-top: units($i*$unit-interval) !important;

      &-reverse {
        margin-top: units(-$i*$unit-interval) !important;
      }
    }

    &r-#{$i*5} {
      margin-right: units($i*$unit-interval) !important;

      &-reverse {
        margin-right: units(-$i*$unit-interval) !important;
      }
    }

    &b-#{$i*5} {
      margin-bottom: units($i*$unit-interval) !important;

      &-reverse {
        margin-bottom: units(-$i*$unit-interval) !important;
      }
    }

    &l-#{$i*5} {
      margin-left: units($i*$unit-interval) !important;

      &-reverse {
        margin-left: units(-$i*$unit-interval) !important;
      }
    }
  }
}
