/**
 * 模块名称：按钮，链接
 * 创建时间：2018-5-15 14:59:57
 * 说明：按钮，链接自定义样式
 */
@import '../../basic/_mixins.config';

.btn {
  padding: $btn-padding-top $btn-padding-right $btn-padding-bottom $btn-padding-left;
  border-radius: $btn-border-radius;
  text-align: center;
  //color: $btn-color;
  line-height: $btn-line-height;
  transition: all .2s;
  border: 0;
  &.btn-xs {
    padding: ($btn-padding-top/2) ($btn-padding-right/2) ($btn-padding-bottom/2) ($btn-padding-left/2);
  }
  &::after {
    border: 0;
  }
  &:active {
    color: $btn-color-active;
  }
  &.btn-link {
    border-radius: $btn-link-border-radius;
    padding: $btn-link-padding-top $btn-link-padding-right $btn-link-padding-bottom $btn-link-padding-left;
    color: $btn-link-color;
    background-color: $btn-link-bg-color;
    &:active {
      color: $btn-link-color-active;
    }
  }
}
