@import '../../basic/_mixins.config';
//移动端适用的文本框
.input {
  &-item {
    border-bottom: 1*$unit solid #f8f8f8;
    display: flex;
    align-items: center;
    padding-top: 13*$unit;
    padding-bottom: 13*$unit;
    &-label {
      color: #888;
      font-size: 14*$unit;
    }
    &-input {
      flex: 1;
      color: #2a2a2a;
    }
  }
  &-group {
    padding: 0 10*$unit;
    border: 1px solid #f8f8f8;
    border-radius: 5*$unit;
    .input {
      &-item {
        border: 0;
        +.input-item {
          border-top: 1px solid #f8f8f8;
        }
      }
    }
  }
}